<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}
Flask App - Home
{% endblock %}

{% block content %}
    <h1>Welcome to Task Master!</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.strftime('%Y-%m-%d') }}</td>
            <td>
                <a href="{{ url_for('delete', id=task.id) }}">Delete</a>
                <a href="{{ url_for('update', id=task.id) }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="/" method="POST">
        <label for="content">New Task:</label>
        <input type="text" name="content" id="content" required>
        <input type="submit" value="Add Task">
    </form>
{% endblock %}
